

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* Container */
.change-password-container {
    width: 90vw; 
    max-width: 400px; 
    padding: 3vh;
    background-color: #ffffff;
    border-radius: 2vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Labels Styles */
.change-password-container label {
    display: block;
    font-size: 1.8vh;
    margin-top: 1.5vh;
    font-weight: bold;
    text-align: left;
}

/* Inputs Styles */
.change-password-container input {
    width: 100%;
    padding: 1.5vh;
    margin-top: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 1vh;
    font-size: 2vh;
}

/* Button Styles */
.change-password-container button {
    width: 100%;
    padding: 1.5vh;
    background-color: #5e17eb;
    color: white;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 2vh;
}

.change-password-container button:hover {
    background-color: #cb6ce6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .change-password-container {
        width: 90vw;
        max-width: 60%;
        padding: 5vh;
    }

    .change-password-container input,
    .change-password-container button {
        font-size: 2vh;
    }
}