

{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}"> 
    
    <div class="change-password-container">
        <h2>Change Password</h2>
        <form action="{% url 'change-password' %}" method="post">
            {% csrf_token %}
            
            <label for="old_password">Current Password</label>
            <input type="password" id="old_password" name="old_password" required>
            
            <label for="new_password1">New Password</label>
            <input type="password" id="new_password1" name="new_password1" required>
            
            <label for="new_password2">Confirm New Password</label>
            <input type="password" id="new_password2" name="new_password2" required>
            
            <button type="submit">Update Password</button>
        </form>
    </div>
{% endblock %}