{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>

    </form>
    {% if form.errors %}
    <div class="error-messages">
        <p class="error">Invalid username or password. Please try again.</p>
    </div>
{% endif %}
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
</div>
{% endblock %}